.gridcontainer {
    display: flex;
    flex-direction: column;
    background-color: azure;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 1000px;
    margin: auto;
}

.squareline {
    display: flex;
    flex-direction: row;
    background-color: burlywood;
}



.square {
    background-color: grey;
    border-radius: 3px;
    border: 1px solid white;
    height: 50px;
    width: 50px;
}